@import '../../../scss/variables/variables.scss';

aside {
  background-color: $high-bg;
  height: 100%;
  position: fixed;
  width: 15rem;
  top: 64px;
  .aside-content {
    padding: 0 1rem;
    .aside-header {
      padding: 2rem 0rem;
      .aside-header-content{

        .aside-user {
          display: flex;
          align-items: center;
          .aside-user-img {
            width: 5rem;
            height: 5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
          .aside-info {
            text-align: center;
            width: 8rem;
            .aside-name {
              color: white;
              p {
                margin: 0;
                margin-bottom: 10px;
              }
            }
            .aside-data {
              color: $soft-over-black;
              font-size: 12px;
              font-weight: bold;
              p {
                margin: 0;
              }
            }
          }
        }
        
      }

    }
    .aside-separator {
      hr{
        border-top: 1px solid $white-default;
      }
    }

    .aside-body {
      .aside-body-content {

        .aside-menu {
          .aside-menu-title {
            h3 {
              font-size: 25px;
              color: $soft-over-black;
              margin-bottom: 1rem;
            }
          }

          .aside-menu-options {
            .menu-option-active {
              background-color: $base-bg;
            }
            .aside-menu-option {
              display: flex;
              align-items: center;
              padding: 0.5rem;
              cursor: pointer;
              margin-bottom: 10px;
              transition: 0.3s;
              color: $white-default;
              text-decoration: none;
              &:hover {
                background-color: $base-bg;
              }
              .aside-menu-icon {
                margin-right: 15px;
                font-size: 25px;
                text-align: center;
                width: 2rem;
                i {

                }
              }
              .option-menu-text {
                font-size: 20px;
                p {
                  margin: 0;
                }
              }
            }
          }
        }

      }
    }

  }
}

@media screen and (min-width: 0px) and (max-width: 745px) {

  aside {
    width: 5rem;
    .aside-content {
      padding: 0 5px;
      .aside-header {

        .aside-header-content{
  
          .aside-user {

            .aside-user-img {
              display: none;
              img {

              }
            }
            .aside-info {

              .aside-name {

                p {

                }
              }
              .aside-data {

                p {

                }
              }
            }
          }
          
        }
  
      }
      .aside-separator {
        hr{

        }
      }
  
      .aside-body {
        .aside-body-content {
  
          .aside-menu {
            .aside-menu-title {
              display: none;
              h3 {
              }
            }
  
            .aside-menu-options {
              .menu-option-active {

              }
              .aside-menu-option {
                justify-content: center;
                &:hover {

                }
                .aside-menu-icon {

                  i {
  
                  }
                }
                .option-menu-text {
                  display: none;
                  p {
                  }
                }
              }
            }
          }
  
        }
      }
  
    }
  }
}