.rendering-zone {
  position: static;
  z-index: 0;
  margin-left: 15rem;
  padding: 0rem 2rem;
  margin-top: 6rem;
}

@media screen and (min-width: 431px) and (max-width: 745px) {
  .rendering-zone {
    margin-left: 6rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .rendering-zone {
    margin-left: 4rem;
    margin-top: 5rem;
  }
}