.cv-page {
  .row {
    .col {
      padding: 0;
      margin-bottom: 30px;
      .favorite {
        .favorite-img-container {
          .favorite-img {
            width: 18rem;
            margin: 2.4rem auto;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
    .university {
      margin-bottom: 0;
    }

    .profesional-history {
      margin-top: 15px;
    }


  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .cv-page {
    .row {
      .col {

        .favorite {
          .favorite-img-container {
            .favorite-img {
              width: 100%;
              img {

              }
            }
          }
        }
      }
      .university {

      }
  
      .profesional-history {

      }
  
  
    }
  }
}