.courses-page {
  .card-columns {
    .card {
      margin: 15px 0;
      .card-header {
        h3 {

        }
      }
      .card-body {
        padding: 0px;
        .course-img {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: 1080px) {
  .courses-page {
    .card-columns {
      .card-black {
        min-width: unset;
      }
      .card {
        .card-header {
          h3 {
  
          }
        }
        .card-body {

          .course-img {

            img {

            }
          }
        }
      }
    }
  }
}