@import '../../../scss/variables/variables.scss';

.second-row {
  margin-top: 15px;
  margin-bottom: 30px;
  .col-6 {
    .card {
      margin: unset;
      margin-top: 15px;
    }
    .skills-about {
      margin-top: 30px;
      .card-header {
        h3 {
          font-family: $lato-light;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 980px) {
  .second-row {

    .col-6 {
      flex: unset;
      max-width: unset;
      .card {

      }
      .skills-about {

        .card-header {
          h3 {

          }
        }
      }
    }
  }
  
}



