@import '../fonts/latofonts.scss';

// Fonts
$lato: 'LatoWeb', Fallback, sans-serif;

// Color
$white-default: #e8e8e8;
$base-bg: #393A3F;
$high-bg: #1c1c1c;
$soft-over-black: #828282;

// sizes
$asaide-extended: 14rem;