@import '../../../scss/variables/variables.scss';

.card-black {
  background-color: $high-bg;
  min-width: 15rem;
  margin: 15px;
  .card-body {
    .row {
      .col {
        .green-success {
          color: $green-success;
        }
        .card-black-number {
          p {
            text-align: center;
            margin: 0;
            font-size: 50px;
          }
        }
        .card-black-icon {
          text-align: center;
          font-size: 50px;
        }
        .card-black-title {
          color: $soft-over-black;
          font-size: 17px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}